<!DOCTYPE html>
<html>
	<title>robots.yourthing.com</title>
	<!--
	Idea is a place where people can post some info about their thing. Maybe keep it simple - some text and a picture.
	Newer stuff is on top. 
	Filter by tags.
	Zombie walks wish they could advertise their walk.
	Robot competitions want to post their thing. 
	Maybe allow comments, more info on the 'more detail' page.
	-->
	<style type="text/css">

	</style>
	<body>
		<h2>Plans</h2>
		<ul>
			<li>Get publish working</li>
			<li>Save == same as publish but with flag set to 'saved' or 'inactive' or something</li>
			<li>Show map location of stuff - little tags on areas can be clicked to show more info. Zoom in on area, show all as grid (remove map)</li>
			<li>Three.js could make this site hella-cool</li>
		</ul>
		<!-- TODO: Change to React -->
		<script>
			
		</script>
	</body>
</html>